/* =====================
   RESET BÁSICO
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  line-height: 1.6;
  color: #e5e7eb;
  background-color: #0f172a;
}

/* =====================
   ELEMENTOS GENERALES
===================== */
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 3rem 1.5rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

/*  */

/* =====================
   HEADER / NAV
===================== */
.header {
  position: sticky;
  top: 0;
  background-color: #020617;
  border-bottom: 1px solid #1e293b;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-links {
  display: none; /* mobile first */
}

/* =====================
   HERO
===================== */
.hero {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.hero h1,
h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.nombre {
  color: #38bdf8;
}

.hero p {
  color: #94a3b8;
  font-size: 1rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* =====================
   BOTONES
===================== */
.btn {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.btn.primary {
  background-color: #38bdf8;
  color: #020617;
}

.btn.secondary {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn.small {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

/* =====================
   ABOUT
===================== */
.about {
  padding: 0.5rem 1.5rem;
}

.about h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.about p {
  margin-bottom: 2rem;
  color: #cbd5f5;
}

.skills {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills li {
  background-color: #1e293b;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

/* =====================
   STACK TECNOLÓGICO
===================== */
.stack {
  padding: 0.5rem 1.5rem;
}
.stack h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
.stack p {
  margin-bottom: 2rem;
  color: #cbd5f5;
}
.stack-group {
  margin-bottom: 1.8rem;
}

.stack-group h3 {
  margin-bottom: 0.5rem;
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stack-list li {
  background-color: #1e293b;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

/* =====================
   PROJECTS
===================== */

.projects {
  background-color: #020617;
}

.titulo-proyectos {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.project-card h3 {
  margin-bottom: 0.5rem;
}

.project-content {
  height: 150px;
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
  border: 1px solid #1e293b;
}

.project-description {
  color: #94a3b8;
  margin-bottom: 1rem;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.project-stack li {
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  background-color: #020617;
  border: 1px solid #1e293b;
  border-radius: 999px;
  color: #94a3b8;
}

.project-links {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}

.btn-project {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 0.9rem;
  font-size: 0.85rem;
  font-weight: 500;

  color: #e5e7eb;
  background-color: #020617;
  border: 1px solid #1e293b;
  border-radius: 6px;

  text-decoration: none;
  transition: all 0.2s ease;
}

.btn-project i {
  font-size: 1rem;
}

.btn-project:hover {
  background-color: #0f172a;
  border-color: #38bdf8;
  color: #38bdf8;
}

/* =====================
   FORMACIÓN
===================== */

.education h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.education-card {
  background-color: #020617;
  border: 1px solid #0f172a;
  border-radius: 12px;
  padding: 1.2rem;
}

.education-card h3,
p,
ul {
  margin-bottom: 0.4rem;
}

.formacion-cursos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.education-academic {
  margin-bottom: 2rem;
}

.education-item {
  margin-bottom: 0.5rem;
}

.education-place {
  font-size: 0.75rem;
  color: #94a3b8;
}

.descripcion {
  margin-top: 1rem;
}

.education-item li {
  font-size: 0.75rem;
}

/* =====================
   CONTACTO
===================== */

.contacto {
  background-color: #020617;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  gap: 0.3rem;
}

input,
textarea {
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  background-color: #1e293b;
  color: #e5e7eb;
}

/* =====================
   FOOTER
===================== */

.footer {
  text-align: center;
  padding: 2rem 1rem;
  border-top: 1px solid #1e293b;
  font-size: 0.8rem;
  color: #94a3b8;
}

/* =====================
   DESKTOP 
===================== */

@media (min-width: 768px) {
  section {
    padding: 5rem 6rem;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
  }

  .hero {
    max-width: 900px;
  }

  .about {
    max-width: 900px;
    padding: 4rem 6rem 1rem 6rem;
  }

  .stack {
    max-width: 900px;
    padding: 1rem 6rem 4rem 6rem;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .projects h2 {
    grid-column: 1 / -1;
  }

  .formacion-cursos {
    grid-template-columns: repeat(3, 1fr);
  }

  .formulario {
    background-color: #020617;
    max-width: 600px;
    margin: 0 auto;
  }
}
